html {
    color: oklch(32% 0.11 26.9);
    background-color: oklch(100% 0.00 116);
    font-family: sans-serif;
}
  
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 1rem;
}

nav a.index {
  color: oklch(53.71% 0.19 29.12);
  font-size: 1.2rem;
  width: auto;
  text-align: center;
  margin-bottom: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-links a {
  margin-right: 1rem;
}

/* Last child in .nav-links should not have a right margin to avoid extra spacing */
.nav-links a:last-child {
  margin-right: 0;
}

h1 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: oklch(32% 0.11 26.9);
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: oklch(53.71% 0.19 29.12);
}
