---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BookLink from "../components/BookLink.astro";

const pageTitle = 'Books';
const allBooks = await getCollection("books");
---

<BaseLayout pageTitle={pageTitle}>
    <p>Brief notes on books I've read recently.</p>
    <ul>
        {
            allBooks.map((book) => (
                <BookLink url={`/books/${book.slug}`} title={book.data.title} />
            ))
        }
    </ul>
</BaseLayout>