---
import { getEntry } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogLink from "../components/BlogLink.astro"
const pageTitle="Brian Webb"

const recentPost = await getEntry('blog', 'read-seen-2024');
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Recently</h2>
	<BlogLink url={`/blog/${recentPost?.id}`} title={recentPost?.data.title}/>
</BaseLayout>
