---
import { getEntry } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro"
import WritingLink from "../components/WritingLink.astro"

const recentPost = await getEntry('articles', 'placeholder');
---

<BaseLayout>
	<h2 class="font-bold">Recently</h2>
	<WritingLink url={`/articles/${recentPost?.id}`} title={recentPost?.data.title}/>
</BaseLayout>
