---
---
<nav>
    <a class="index" href="/" data-astro-prefetch>Brian Webb</a>
    <div class="nav-links">
        <a href="/about/" data-astro-prefetch>About</a>
        <a href="/blog/" data-astro-prefetch>Posts</a>
    </div>
</nav>
