---
---
<nav>
    <a class="index" href="/" data-astro-prefetch>Brian Webb</a>
    <div class="nav-links">
        <a href="/articles/" data-astro-prefetch>Articles</a>
        <a href="/fragments/" data-astro-prefetch>Fragments</a>
        <a href="/uses/" data-astro-prefetch>Uses</a>
        <a href="/about/" data-astro-prefetch>About</a>
    </div>
</nav>
