---
---
<nav>
    <a class="index" href="/">Brian Webb</a>
    <div class="nav-links">
        <a href="/about/">About</a>
        <a href="/books/">Books</a>
        <a href="/movies/">Movies</a>
    </div>
</nav>
