---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.author}{frontmatter.pubYear ? `, ${frontmatter.pubYear}` : null}</h2>
    <slot />
</BaseLayout>