---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <slot />
    <h4>Last Updated, {frontmatter.lastUpdated.toString().slice(0,10)}</h4>
</BaseLayout>